* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'SourceSansPro';
  src:
    url('fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('ttf'),
    url('fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('ttf'),
    url('fonts/source-sans-pro/SourceSansPro-Light.ttf') format('ttf'),
    url('fonts/source-sans-pro/SourceSansPro-Semibold.ttf') format('ttf');

  font-weight: normal;
  font-style: normal;
}
/* dark-blue: #124EB0;
 light-blue: #39BAE7 */
body {
  font-family: 'SourceSansPro', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 17px;
  color: #404040;
}

.header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-size: 17px;
}

.header-top {
  display: flex;
  width: 100%;
  min-height: 43px;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #124eb0;
}
.top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1170px;
  padding: 0 20px;
}
.header-social {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.mobile,
.header-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.mobile a,
.header-email a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
.mobile a:hover,
.header-email a:hover {
  color: #39bae7;
}
.header-bottom {
  width: 100%;
  padding: 10px 0;
}
.bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-height: 148px;
  overflow: hidden;
  width: 148px;
}
.logo img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 16px;
}
.menu-button:hover {
  cursor: pointer;
}
.menu {
  visibility: visible;
}
.menu-button {
  display: none;
}
.menu-item a {
  text-decoration: none;
  color: #404040;
  padding: 10px;
}

.menu-item a:hover {
  background-color: #39bae7;
  color: #ffffff;
}
.isOpen {
  overflow: hidden;
}
.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
.close-btn {
  display: none;
}

.sticky-header-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
  width: 100vw;
  background-color: #39bae7;
  color: #ffffff;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}
.copyright > span {
  font-weight: 700;
}
.designer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
@media (max-width: 989px) {
  .top-wrapper {
    padding: 10px 20px;
  }
  .header-contacts {
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .copyright,
  .designer {
    text-align: center;
    white-space: nowrap;
  }
}

@media (max-width: 766px) {
  .header-contacts {
    align-items: center;
  }
  .menu {
    visibility: hidden;
    position: fixed;
  }
  .menu-button {
    display: block;
    padding: 15px;
  }
  .menu-button.hidden {
    display: none;
  }
  .mobile-menu-active {
    visibility: visible;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .wrapper-menu-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-item {
    display: flex;
    padding: 10px;
  }
  .wrapper-menu-active .close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .close-btn {
    display: none;
  }
}

@media (max-width: 478px) {
  .top-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .header-contacts {
    gap: 7px;
  }
}
