* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'SourceSansPro';
  src:
    url('fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('ttf'),
    url('fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('ttf'),
    url('fonts/source-sans-pro/SourceSansPro-Light.ttf') format('ttf'),
    url('fonts/source-sans-pro/SourceSansPro-Semibold.ttf') format('ttf');

  font-weight: normal;
  font-style: normal;
}
/* dark-blue: #124EB0;
 light-blue: #39BAE7 */
body {
  font-family: 'SourceSansPro', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 17px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-size: 17px;
}

.header-top {
  display: flex;
  width: 100%;
  min-height: 43px;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #124eb0;
}
.top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1170px;
  padding: 0 20px;
}
.header-social {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}

.header-contacts {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.mobile,
.header-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.mobile a,
.header-email a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
.mobile a:hover,
.header-email a:hover {
  /* color: #1b1f4c; */
  color: #39bae7;
}
.header-logo {
  max-height: 128px;
}
.main {
  flex-grow: 1;
}
.footer {
  background-color: #124eb0;
  height: 40px;
  width: 100%;
}

@media (max-width: 520px) {
  .top-wrapper {
    flex-direction: column;
  }
}
